<div class="edit-floors-modal _d-f _f-dir-col _p-24">
    <form #floorsForm="ngForm"
          class="custom-form _d-f _f-dir-col _grow-1 _h-100"
          (ngSubmit)="applyForm(floorsForm)">
        <div class="custom-form__item">
            <ion-label class="custom-form__item-label">Adjust Floors by $ or % of lower comp</ion-label>
            <ion-input #adjustFloorsRef
                       class="custom-form__item-input _mb-16"
                       ngModel
                       type="text"
                       fill="outline"
                       placeholder="e.g. -10 or 10"
                       stringNumbersCorrector
                       [disabled]="!isHasComparePrice()"
                       [name]="FORM_FIELD.adjustFloors"
                       [maxlength]="INPUT_VALIDATION.maxLength"
                       (ngModelChange)="newPriceRef.value = null">
                <div class="_d-f _f-align-center _gap-8"
                     slot="end">
                    <div class="edit-floors-modal__sign-btn _d-f _justify-center _f-align-center"
                         type="button"
                         [class._active]="!isPercentage()"
                         (click)="$event.stopPropagation(); isPercentage.set(false)">
                        <span class="_fs-24 _fw-500">$</span>
                    </div>
                    <div class="edit-floors-modal__sign-btn _d-f _justify-center _f-align-center"
                         type="button"
                         [class._active]="isPercentage()"
                         (click)="$event.stopPropagation(); isPercentage.set(true)">
                        <span class="_fs-24 _fw-500">%</span>
                    </div>
                </div>
            </ion-input>
        </div>
        <div class="custom-form__item">
            <ion-label class="custom-form__item-label">
                Set Floors to Amount
            </ion-label>
            <ion-input #newPriceRef
                       class="custom-form__item-input _mb-16"
                       type="text"
                       ngModel
                       inputmode="decimal"
                       fill="outline"
                       placeholder="e.g. 10$"
                       [maxlength]="INPUT_VALIDATION.maxLength"
                       [name]="FORM_FIELD.setFloorsTo"
                       (ionInput)="$event.target.value = sanitizeSignedDecimal($event.target.value, { allowNegative: false, fractionDigits: 2})"
                       (ngModelChange)="adjustFloorsRef.value = null">
                <button class="edit-floors-modal__sign-btn _active"
                        type="button"
                        slot="end">
                    <span class="_fs-24 _fw-500">$</span>
                </button>
            </ion-input>
        </div>
        <ion-button expand="block"
                    size="large"
                    color="primary"
                    type="submit">Save
        </ion-button>
    </form>
</div>
