.edit-floors-modal {
  width: 100%;
  .custom-form__item-label {
    margin-bottom: 16px;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-medium);
  }
  ion-input[fill=outline], ion-input[fill=outline].input-fill-outline {
    &.custom-form__item-input {
      min-height: 73px;
      --padding-end: 16px;
      --padding-start: 16px;
      font-size: var(--font-size-mxl);
      font-weight: var(--font-weight-semi-bold);
      .input-wrapper {
        border-width: 2px;
      }
    }
  }
  &__sign-btn {
    width: 44px;
    height: 41px;;
    border-radius: 8px;
    background: var(--bg-color-e5);
    color: var(--text-color-black);
    &._active {
      color: var(--text-color-white);
      background: var(--bg-color-primary);
    }
  }
}
