.custom-form {
  &__item {
    font-size: var(--font-size-mdl);
    &-label {
      margin-bottom: 8px;
      display: inline-block;
      font-size: var(--font-size-mdl);
      font-weight: var(--font-weight-regular);
      &._required {
        &::after {
          content: "*";
          color: inherit;
        }
      }
      &._small-label {
        margin-bottom: 10px;
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-medium);
      }
    }
    &._size-small {
      ion-select {
        min-height: 34px;
      }
    }
  }
}
