ion-modal.custom-modal {
  --width: fit-content;
  --max-width: 90vw;
  --height: fit-content;
  --max-height: 90vh;
  --border-radius: 16px;
  --box-shadow: 0 2px 32px rgba(0,0,0,0.2);
  --background: #fff;
  &-auto-height {
    --height: auto;
  }
}
