.custom-toggle-btn {
  padding: 8px;
  border-radius: 8px;
  color: var(--text-color-black);
  background: var(--bg-color-white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &._active {
    color: var(--text-color-white);
    background-color: var(--bg-color-primary);
  }
}
