ion-checkbox {
  --size: var(--checkbox-size);
  --border-width: 1px;
  --border-radius: 4px;
  --border-color: var(--input-border-color);
  &::part(label) {
      margin-left: 0;
      margin-inline-start: 0;
      -webkit-margin-start: 0;
  }
}
