ion-item {
  --border-color: unset;
  --border-radius: unset;
  --border-style: unset;
  --border-width: unset;
  --padding-end: 0;
  --padding-top: 0;
  --padding-start: 0;
  --padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-start: 0;
  --inner-padding-bottom: 0;
}
