ion-popover {
  padding: 10px;
  --width: auto;
  --color: var(--color-white);
  --border: unset;
  --box-shadow: unset;
  --background: #00000099;
  ion-content {
    --padding-top: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-bottom: 0;
    --background: #00000099;
    --color: var(--color-white);
    --border: unset;
    --box-shadow: unset;
  }
  &::part(backdrop) {
    background-color: transparent;
  }
  &::part(content) {
    border: unset;
    background:  #00000099;
    padding-bottom: var(--keyboard-offset);
  }
  &::part(arrow) {
    background: transparent;
    &::after {
      background: #2e2e2e;
    }
  }
}
