ion-radio {
  &::part(container) {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
  }
  &::part(label) {
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
  }
  &.radio-checked {
    &::part(container) {
      border-color: var(--color-primary);
      background: var(--bg-color-primary);
    }
    &::part(mark) {
      top: -1px;
      height: 7px;
      width: 3.5px;
      position: relative;
      border-style: solid;
      transform: rotate(45deg);
      border-width: 0 0.5px 0.5px 0;
      border-color: var(--color-white);
    }
  }
}
