.block-table {
  &.custom-table {
    --ion-grid-columns: 3;
    .custom-table__row {
      height: 70px;
    }
  }
  &__header {
    color: var(--table-header-row-text-color);
  }
  &__col {
    &-action {
      width: 50px;
      flex: 0 0 50px;
      padding: 0 14px;
      max-width: 50px;
    }
  }
  .virtual-scroll-viewport {
    width: 100%;
    height: 100%;
    max-height: 420px;
    .cdk-virtual-scroll-content-wrapper {
      width: 100%;
    }
  }
}

