<div class="event-info-header">
    <div class="_d-f _justify-between _mb-12">
        <div class="_d-f _f-dir-col _w-100">
            <div class="_d-f _f-align-center _mb-6">
                @if (eventItem()?.isParkingEvent) {
                    <ion-icon class="_fs-10 _mr-8"
                              src="assets/icons/parking-event.svg"></ion-icon>
                }
                @if (eventItem()) {
                    <h3 class="_line-height-24 _letter-spacing-minus-9">{{ eventItem()?.ticketGroupEvent.primaryPerformer.name }}</h3>
                } @else {
                    <ion-skeleton-text class="_line-height-24 _w-60"></ion-skeleton-text>
                }
            </div>
            @if (eventItem()) {
                <p class="_fs-16 _letter-spacing-minus-7 _line-height-19">{{ eventItem()?.ticketGroupEvent.secondaryPerformer.name }}</p>
            } @else {
                <ion-skeleton-text class="_line-height-19 _w-40"></ion-skeleton-text>
            }
        </div>
    </div>
    <ul class="_fs-16 _border-btm-solid-secondary _pb-20">
        <li class="_d-f _f-align-center _one-row _mb-8"
            [class._ellipsis]="eventItem()">
            <ion-icon class="_fs-13 _text-color-gray-light"
                      src="assets/icons/location.svg"></ion-icon>
            @if (eventItem()) {
                <span class="_ml-6 _line-height-18 _letter-spacing-minus-2 _word-spacing-minus-20">{{ eventItem()?.ticketGroupEvent.venueName }}</span>
            } @else {
                <ion-skeleton-text class="_ml-6 _line-height-20 _w-50"></ion-skeleton-text>
            }
        </li>
        <li class="_d-f _f-align-center _one-row"
            [class._ellipsis]="eventItem()">
            <ion-icon class="_fs-15 _text-color-gray-light"
                      name="time"></ion-icon>
            @if (eventItem()) {
                <span class="_ml-6 _line-height-18 _letter-spacing-minus-2 _word-spacing-minus-20">{{ eventItem()?.ticketGroupEvent?.preparedDateAndTime }}</span>
            } @else {
                <ion-skeleton-text class="_ml-6 _line-height-20 _w-50"></ion-skeleton-text>
            }
        </li>
    </ul>
    <ul class="_d-f _f-align-center _pt-12">
        <li class="custom-popover__wrapper _d-f _f-align-center _fs-16 _cursor-pointer"
            (click)="$event.stopPropagation(); popoverService.openPopover($event, getListingPopupMessage())">
            <span class="_text-color-primary">•</span>
            <span class="_letter-spacing-minus-6 _ml-2">{{
                eventItem()?.ticketGroupCount && eventItem()?.myInventoryQuantity
                  ? eventItem().ticketGroupCount + '/' + eventItem().myInventoryQuantity
                  : '-'
                    }}
            </span>
            <ion-button class="_ml-3"
                        fill="clear">
                <ion-icon class="_fs-18"
                          slot="icon-only"
                          name="information-circle"
                          color="primary"></ion-icon>
            </ion-button>
        </li>
        <li class="custom-popover__wrapper _d-f _f-align-center _fs-16 _ml-22 _cursor-pointer"
            (click)="$event.stopPropagation(); popoverService.openPopover($event, getTotalCostPopupMessage())">
            <span class="_text-color-primary">•</span>
            <span class="_letter-spacing-2 _ml-2">${{ eventItem()?.preparedMyInventoryCost ? eventItem()?.preparedMyInventoryCost : '0' }}</span>
            <ion-button class="_ml-3"
                        fill="clear">
                <ion-icon class="_fs-18"
                          slot="icon-only"
                          name="information-circle"
                          color="primary"></ion-icon>
            </ion-button>
        </li>
        <li class="_ml-auto">
            <ul class="_d-f _f-align-center _gap-6">

                <!--    Vivid   -->

                <li>
                    <ion-button class="event-info-header__provider-link-btn"
                                fill="clear"
                                target="_blank"
                                [disabled]="!eventItem()?.vividEventId"
                                [href]="appSettingsService.getAppSettings().vividEventUrl + eventItem()?.vividEventId">
                        <ion-icon class="_fs-20"
                                  src="assets/icons/vivid-colored.svg"></ion-icon>
                    </ion-button>
                </li>

                <!--    SeatGeek    -->

                <li>
                    <ion-button class="event-info-header__provider-link-btn"
                                fill="clear"
                                target="_blank"
                                [disabled]="!eventItem()?.seatGeekEventId"
                                [href]="appSettingsService.getAppSettings().seatGeekEventUrl + eventItem()?.seatGeekEventId">
                        <ion-icon class="_fs-24"
                                  src="assets/icons/seatgeek-colored.svg"></ion-icon>
                    </ion-button>
                </li>

                <!--    Ticketmaster    -->

                <li>
                    <ion-button class="event-info-header__provider-link-btn"
                                fill="clear"
                                target="_blank"
                                [disabled]="!eventItem()?.tmEventId"
                                [href]="appSettingsService.getAppSettings().tmEventUrl + eventItem()?.tmEventId">
                        <ion-icon class="_fs-18"
                                  src="assets/icons/ticket-master-colored.svg"></ion-icon>
                    </ion-button>
                </li>

                <!--    Stubhub -->

                <li>
                    <ion-button class="event-info-header__provider-link-btn"
                                fill="clear"
                                target="_blank"
                                [disabled]="!eventItem()?.stubHubEventID"
                                [href]="appSettingsService.getAppSettings().stubhubEventUrl + eventItem()?.stubHubEventID">
                        <ion-icon class="_fs-24"
                                  src="assets/icons/stubhub-colored.svg"></ion-icon>
                    </ion-button>
                </li>
            </ul>
        </li>
    </ul>
</div>
