.event-info-header {
  padding: 16px 20px 14px;
  background: url('/assets/images/ticket_bg.png') right bottom / 150px no-repeat;
  &__provider-link-btn {
    padding: 0;
    --padding-end: 0;
    --padding-top: 0;
    min-width: 31.3px;
    min-height: 31.3px;
    --padding-start: 0;
    --padding-bottom: 0;
    border-radius: 6.26px;
    border: 0.75px solid #DDDDDD;
  }
}
