._border {
  &-radius {
    &-2 {
      border-radius: 2px;
    }
    &-8 {
      border-radius: 8px;
    }
    &-12 {
      border-radius: 12px;
    }
  }
  &-solid {
    &-gray {
      border: 1px solid var(--color-gray);
      &-lighter {
        border: 1px solid var(--border-color-gray-lighter);
      }
    }
    &-black {
      border: 1px solid var(--color-black);
    }
  }
  &-left {
    &-solid {
      &-primary {
        border-left: 1px solid var(--border-color-primary);
      }
      &-table-header {
        border-left: 1px solid var(--border-color-table-header);
      }
      &-table-cell {
        border-left: 1px solid var(--border-color-table-cell);
      }
    }
  }
  &-top {
    &-solid {
      &-gray {
        border-top: 1px solid var(--border-color-gray);
      }
      &-secondary {
        border-top: 1px solid var(--border-color-secondary);
      }
    }
  }
  &-btm {
    &-solid {
      &-gray {
        border-bottom: 1px solid var(--border-color-gray);
      }
      &-secondary {
        border-bottom: 1px solid var(--border-color-secondary);
      }
    }
  }
}
