._d-f {
  display: flex;
}

._f {
  &-dir {
    &-col {
      flex-direction: column;
    }
  }
  &-align {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-grow {
    &-1 {
      flex-grow: 1;
    }
  }
}

._align-self {
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
}

._gap {
  &-2 {
    gap: 2px;
  }
  &-4 {
    gap: 4px;
  }
  &-6 {
    gap: 6px;
  }
  &-8 {
    gap: 8px;
  }
  &-10 {
    gap: 10px;
  }
  &-18 {
    gap: 18px;
  }
  &-vertical {
    &-30 {
      gap: 30px 0;
    }
  }
}

._justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-end {
    justify-content: flex-end;
  }
}
