._fs {
  &-10 {
    font-size: var(--font-size-3s);
  }
  &-11 {
    font-size: var(--font-size-2s);
  }
  &-12 {
    font-size: var(--font-size-s);
  }
  &-13 {
    font-size: var(--font-size-ms);
  }
  &-14 {
    font-size: var(--font-size-m);
  }
  &-15 {
    font-size: var(--font-size-md);
  }
  &-16 {
    font-size: var(--font-size-mdl);
  }
  &-18 {
    font-size: var(--font-size-xl);
  }
  &-20 {
    font-size: var(--font-size-2xl);
  }
  &-22 {
    font-size: var(--font-size-3xl);
  }
  &-24 {
    font-size: var(--font-size-mxl);
  }
  &-30 {
    font-size: var(--font-size-5xl);
  }
  &-32 {
    font-size: var(--font-size-6xl);
  }
}

._fw {
  &-500 {
    font-weight: var(--font-weight-medium);
  }
  &-600 {
    font-weight: var(--font-weight-semi-bold);
  }
  &-700 {
    font-weight: var(--font-weight-bold);
  }
}
