._ml {
  &-2 {
    margin-left: 2px;
  }
  &-3 {
    margin-left: 3px;
  }
  &-4 {
    margin-left: 4px;
  }
  &-6 {
    margin-left: 6px;
  }
  &-7 {
    margin-left: 7px;
  }
  &-8 {
    margin-left: 8px;
  }
  &-10 {
    margin-left: 10px;
  }
  &-12 {
    margin-left: 12px;
  }
  &-22 {
    margin-left: 22px;
  }
  &-24 {
    margin-left: 24px;
  }
  &-auto {
    margin-left: auto;
  }
}

._mr {
  &-2 {
    margin-right: 2px;
  }
  &-6 {
    margin-right: 6px;
  }
  &-8 {
    margin-right: 8px;
  }
  &-12 {
    margin-right: 12px;
  }
}

._mt {
  &-4 {
    margin-top: 4px;
  }
  &-10 {
    margin-top: 10px;
  }
  &-12 {
    margin-top: 12px;
  }
  &-14 {
    margin-top: 14px;
  }
  &-24 {
    margin-top: 24px;
  }
  &-auto {
    margin-top: auto;
  }
}

._mb {
  &-2 {
    margin-bottom: 2px;
  }
  &-6 {
    margin-bottom: 6px;
  }
  &-8 {
    margin-bottom: 8px;
  }
  &-9 {
    margin-bottom: 9px;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-11 {
    margin-bottom: 11px;
  }
  &-12 {
    margin-bottom: 12px;
  }
  &-14 {
    margin-bottom: 14px;
  }
  &-16 {
    margin-bottom: 16px;
  }
  &-18 {
    margin-bottom: 18px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-22 {
    margin-bottom: 22px;
  }
  &-24 {
    margin-bottom: 24px;
  }
  &-26 {
    margin-bottom: 26px;
  }
  &-30 {
    margin-bottom: 30px;
  }
}
