._p, .list-md._p {
  &-2 {
    padding: 2px;
  }
  &-4 {
    padding: 4px;
  }
  &-6 {
    padding: 6px;
  }
  &-12 {
    padding: 12px;
  }
  &-14 {
    padding: 14px;
  }
  &-16 {
    padding: 16px;
  }
  &-20 {
    padding: 20px;
  }
  &-22 {
    padding: 22px;
  }
  &-24 {
    padding: 24px;
  }
}

._pb {
  &-6 {
    padding-bottom: 6px;
  }
  &-20 {
    padding-bottom: 20px;
  }
  &-22 {
    padding-bottom: 22px;
  }
}

._pt {
  &-10 {
    padding-top: 10px;
  }
  &-12 {
    padding-top: 12px;
  }
}

._pl {
  &-8 {
    padding-left: 8px;
  }
}

._pr {
  &-10 {
    padding-right: 10px;
  }
}

._ph {
  &-2 {
    padding-left: 2px;
    padding-right: 2px;
  }
  &-6 {
    padding-left: 6px;
    padding-right: 6px;
  }
  &-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  &-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  &-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  &-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

._pv {
  &-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &-6 {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &-9 {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  &-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &-18 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
