._w {
  &-20 {
    width: 20%;
  }
  &-40 {
    width: 40%;
  }
  &-50 {
    width: 50%;
  }
  &-60 {
    width: 60%;
  }
  &-100 {
    width: 100%;
  }
  &-30px {
    width: 30px;
  }
  &-fit-content {
    width: fit-content;
  }
}

._h {
  &-100 {
    height: 100%;
  }
}
