.events-list-filters-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.events-list-filters-modal {
  &::part(handle) {
    top: 7.5px;
    height: 3px;
    width: 109px;
  }
}

ion-popover {
  &.events-filters-date-time-popover {
    --width: 300px;
    &::part(arrow)::after {
      background: transparent;
    }
  }
}
