.event-list-card {
  &__more-btn {
    &.button-has-icon-only {
      min-width: 23px;
      min-height: 17px;
      border-radius: 10px;
      background-color: #D9D9D9;
      ion-icon {
        color: #7D7E90;
      }
    }
    &-popover {
      --width: 350px;
    }
  }
}
