<div class="_d-f _f-dir-col _f-align-center">
    <h2 class="_mb-24 _align-self-start">Reset password</h2>
    @if (isPasswordSend()) {
        <p class="_text-center _mb-12 _fs-15 _text-color-green">
            If your account is found on file, an email will be sent to the email associated with your account. <br>Please click the link in the email to continue your password reset request.</p>
    } @else {
        <forgot-password-form class="_w-100 _mb-12"
                              (forgotPassword)="forgotPassword($event)"></forgot-password-form>

    }
    <a class="_text-color-warning _fs-16"
       [routerLink]="PAGE_URL.login">Back to Login</a>
</div>

