.app {
  &__header {
    padding: 20px;
    margin-bottom: 20px;
  }
  &__menu-list {
    padding: 20px 0;
    &-item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &._active, &:hover {
        background-color: lightgrey;
      }
    }
  }
}
