.unblocked-table {
  &.custom-table {
    --ion-grid-columns: 3;
    .custom-table__row {
      height: 70px;
    }
  }
  .virtual-scroll-viewport {
    width: 100%;
    height: 100%;
    max-height: 420px;
    .cdk-virtual-scroll-content-wrapper {
      width: 100%;
    }
  }
}

