event {
  height: 100%;
  margin: 0 auto;
  .event {
    &__header {
      box-shadow: none;
      background: var(--bg-color-white);
      transition: opacity 0.2s ease-out;
      &::after {
        display: none;
      }
      &-back-btn {
        &, &::part(native) {
          min-height: 48px;
        }
      }
      &-info {
        padding: 16px 20px 14px;
      }
      &-filters {
        padding: 10px 13px 12px;
        &-select-all {
          --size: 21px;
        }
        &-market-btn {
          min-height: 32px;
          --padding-top: 4px;
          border-width: 1.5px;
          --padding-end: 14px;
          --padding-start: 14px;
          --padding-bottom: 4px;
          &::part(native) {
            min-height: 32px;
            --padding-top: 4px;
            border-width: 1.5px;
            --padding-end: 14px;
            --padding-start: 14px;
            --padding-bottom: 4px;
          }
        }
      }
    }
    &__section {
      &-header {
        padding: 11px 13px;
      }
    }
  }
  ion-content {
    --background: var(--bg-color-base);
  }
}

ion-modal.market-view-side-menu {
  --width: 90%;
  --height: 100%;
  --max-width: 900px;
  --border-radius: 0;
  --background: var(--bg-color-white);
  &::part(content) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    overflow: unset;
    border-radius: 0;
  }
}
