.confirm-modal {
  --max-width: 90vw;
  --width: fit-content;
  --min-width: 300px;
  --height: fit-content;
  --max-height: 90vh;
  --background: #fff;
  --border-radius: 16px;
  --box-shadow: 0 2px 32px rgba(0,0,0,0.2);
}
