<form #forgotPassForm="ngForm"
      (ngSubmit)="isFormValid(forgotPassForm) && forgotPassword.emit(forgotPassForm.value.userName)">
    <div class="custom-form__item">
        <ion-input class="_mb-12"
                   ngModel
                   fill="outline"
                   placeholder="Enter user name"
                   errorText="Invalid user name"
                   [maxlength]="INPUT_VALIDATION.maxLength"
                   [required]="true"
                   [name]="FORM_FIELD.userName">
        </ion-input>
    </div>
    <ion-button expand="block"
                size="default"
                color="primary"
                type="submit">Submit
    </ion-button>
</form>
