<ion-header #headerRef
            class="event__header">
    <div class="_d-f _f-align-center _border-btm-solid-secondary _ph-10">
        <ion-button class="event__header-back-btn"
                    fill="clear"
                    size="default"
                    (click)="navController.back()">
            <ion-icon class="_fs-20 _text-color-primary"
                      slot="start"
                      src="assets/icons/arrow-left-outline.svg"></ion-icon>
            <span class="_text-color-primary _ml-7 _letter-spacing-minus-9">Events</span>
        </ion-button>
    </div>
    <event-info-header></event-info-header>
</ion-header>
