events-list {
  height: 100%;
  margin: 0 auto;
  .events {
    &__header {
      box-shadow: none;
      background: var(--bg-color-base);
      &::after {
        display: none;
      }
      &-content {
        padding: 24px 20px 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: var(--bg-color-white);
      }
      &-reload-btn {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        outline: 2px solid #0000001F;
        box-shadow: 0 1px 2px 0 #00000012;
        ion-icon {
          width: 20px;
          height: 20px;
          color: var(--color-gray);
        }
        &._logout {
          ion-icon {
            width: 24px;
            height: 24px;
            margin-left: 2px;
          }
        }
      }
    }
    &__list {
      padding: 17px 20px;
      &-item {
        height: 195px;
        cursor: pointer;
        --min-height: 195px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      .virtual-scroll-viewport {
        width: 100%;
        height: 100%;
        .cdk-virtual-scroll-content-wrapper {
          width: 100%;
        }
      }
    }
  }
  ion-content {
    --background: var(--bg-color-base);
  }
  ion-infinite-scroll-content {
    --background: var(--bg-color-base);
  }
}
